<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="true" />
		<add key="automatic" value="true" />
	</packageRestore>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/DKorablin/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="DKorablin" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>