<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="true" />
		<add key="automatic" value="true" />
	</packageRestore>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/DKorablin/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="DKorablin" />
			<!--Since GitHub does not yet support anonymous access to public NuGet repositories, you will need to configure a GitHub Personal Access Token with read:packages permissions.-->
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>